
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/.env
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

/public/upload/gallery/*
/public/upload/comics/*
/public/upload/avatars/*
/public/upload/social/BackGrounds/*
/public/upload/social/diaryImages/*
###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

/bin/mercure.exe
###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
