<div style="width: 100%; height: 100vh; background: black; z-index: 9999; position: fixed; left: 0; top: 0">
    <center><h3 style="margin-top: 45vh; color: orangered;">Im sorry to tell you but are banned until {{ banned|date("H:i:s d/m/Y") }}</h3></center>
</div>