<div class="text-info">
Proof of Identity document requirements:
<ul>
    <li>Documents must be uploaded in full color (i.e. no black-and-white scans)</li>
    <li>Documents must be clear and large enough to read</li>
    <li>Photocopies of identity documents are not acceptable</li>
    <li>Documents must be valid and not expired</li>
    <li>Complete documents must be uploaded. A complete document is defined as:</li>
    <li>Both front and back of a driver’s license or identity card</li>
    <li>The entire personal information page of a passport</li>
    <li>Documents can be uploaded in .png or .jpg format (photos and color scans acceptable)</li>
    <li>If the ID is from the Netherlands, make sure your citizen service number (BSN) is not visible in the photo.</li>
</ul>

Proof of Home Address document requirements
<ul>
    <li>Documents must be clear and large enough to read</li>
    <li>Documents must be dated within the past six months</li>
    <li>Complete documents must be uploaded. A complete document is defined as:</li>
    <li>At least one full page of the document</li>
    <li>The full name and address of the individual are clearly stated and legible</li>
    <li>Documents can be uploaded in .png, .jpg, or .pdf format</li>
</ul>
</div>
<div class="alert alert-info">
    Acceptable identity documents vary by country, however, a passport scan for identity verification is always acceptable and is preferred.
</div>

<h5 class="text-black fw-900">Australia</h5>
<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li>Passport</li>
    <li>Driver Licence (Driver's license) — scans of front and back are required</li>
    <li>Photo Card — scans of front and back are required</li>
    <li>New South Wales Driving Instructor Licence — scans of front and back are required</li>
    <li>Tasmanian Government Personal Information Card — scans of front and back are required</li>
    <li>ImmiCard — scans of front and back are required</li>
    <li>Proof of Age card — scans of front and back are required</li>
    <li>Australian Defence Force (ADF) identification card (Military ID) — scans of front and back are required</li>
</ul>
<span class="text-danger"> Acceptable forms of address verification: </span>
<ul>
    <li>Driver Licence (Driver's license) — scans of front and back are required</li>
    <li>Photo Card — scans of front and back are required</li>
    <li>Tasmanian Government Personal Information Card — scans of front and back are required</li>
    <li>ImmiCard — scans of front and back are required</li>
    <li>Medicare document (Government health insurance document)</li>
    <li>Centrelink document (Government pension document)</li>
    <li>Australian Taxation Office letter or assessment (Government tax document)</li>
    <li>Council rates or land valuation notice (Property tax document)</li>
</ul>

<h5 class="text-black fw-900">Austria</h5>
<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li>Reisepass (Passport)</li>
    <li>Führerschein (Driver's license) — scans of front and back are required</li>
    <li>Personalausweis Republik Österreich (Identity card) — scans of front and back are required</li>
    <li>Aufenthaltstitel (Residence permit)</li>
    <li>Identitätskarte für Fremde (Identity card for foreigners) — scans of front and back are required</li>
    <li>Fremdenpässe (Alien's Passport)</li>
    <li>Konventionsreisepass (Passport for asylum seekers)</li>
    <li>Duldungskarte (Temporary residence permit) — scans of front and back are required</li>
</ul>
<span class="text-danger"> Acceptable forms of address verification: </span>
<ul>
    <li>Bestätigung der Meldung / Meldezettel (Residence registration)</li>
    <li>Rechnung für Strom oder Gas (Utility bill)</li>
    <li>Kontoauszug (Bank statement)</li>
    <li>Jahresabschlüsse (Financial statements)</li>
</ul>

<h5 class="text-black fw-900">Belgium</h5>
<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li>Paspoort / Passeport / Reisepass (Passport)</li>
    <li>Rijbewijs / Permis de conduire / Führerschein (Driver's license) — scans of front and back are required</li>
    <li>Elektronische identiteitskaart / Carte d'identité / eID (Identity card) — scans of front and back are required</li>
    <li>Elektronische vreemdelingenkaart / Carte d’identité d’étranger / Elektronische Ausländerkarte (Identity card for foreigners) — scans of front and back are required</li>
    <li>Verblijfsvergunning / Permis de résidence / Aufenthaltsgenehmigung (Residence permit)</li>
</ul>
<span class="text-danger"> Acceptable forms of address verification: </span>
<ul>
    <li>Attest van hoofdverblijfplaats / Certificat de résidence / Bescheinigung über den Hauptwohnort (Certificate of residence)</li>
    <li>Energierekening / Facture de service / Rechnung eines Versorgungsunternehmens (Utility bill)</li>
    <li>Bankafschrift / Relevé bancaire/Kontoauszug (Bank statement)</li>
    <li>Verblijfsvergunning / Permis de résidence / Aufenthaltsgenehmigung (Residence permit)</li>
    <li>Attest hypothecaire lening / État hypothécaire / Auszug aus dem Hypothekarkonto (Mortgage statement)</li>
    <li>Attest van hoofdverblijfplaats / Courrier de confirmation d'enregistrement à la maison communale (Letter certifying registration at local town hall)</li>
    <li>Pensioenoverzicht / Relevé de pension / Rentenbescheinigung (Pension statement)</li>
</ul>

<h5 class="text-black fw-900">Bulgaria</h5>
<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li>паспорт (Passport)</li>
    <li>лична карта (Identity card)</li>
    <li>Свидетелство за управление на мпс (Driver's license)</li>
    <li>Разрешение за пребиваване (Residence permit) — scans of front and back are required</li>
</ul>

<span class="text-danger"> Acceptable forms of address verification: </span>
<ul>
    <li>Сметка за комунални услуги (Utility Bill)</li>
    <li>Банково извлечение (Bank statement)</li>
    <li>Справка за ипотека/ипотечно извлечение (Mortgage statement)</li>
</ul>

<h5 class="text-black fw-900">Canada</h5>
<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li>Passport</li>
    <li>Driver's license — scans of front and back are required</li>
    <li>Certificate of Indian Status card</li>
    <li>Permanent resident card</li>
    <li>Identity card — scans of front and back are required</li>
    <li>Non-driver photo ID</li>
    <li>Photo card</li>
</ul>

<h5 class="text-black fw-900">Cyprus</h5>
<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li>Διαβατήριο / Pasaport (Passport)</li>
    <li>Δελτίου Ταυτότητας / Kimlik kartı (Identity card) — scans of front and back are required</li>
    <li>Άδεια Οδήγησης / Ehliyet (Driver's license) — scans of front and back are required</li>
</ul>

<span class="text-danger"> Acceptable forms of address verification: </span>
<ul>
    <li>Λογαριασμός κοινής ωφέλειας / Elektrik, su, doğal gaz faturası (Utility bill)</li>
    <li>Αντίγραφο κίνησης λογαριασμού / Hesap özeti (Bank statement)</li>
    <li>Αντίγραφο κίνησης λογαριασμού στεγαστικού δανείου / Konut kredisi ekstresi (Mortgage statement)</li>
    <li>Ειδοποίηση επιβολής φόρου (Tax bill)</li>
    <li>Βεβαίωση Εγγραφής / Tescil belgesi (Registration certificate)</li>
</ul>

<h5 class="text-black fw-900">Czech Republic</h5>
<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li>Cestovní pas (Passport)</li>
    <li>Občanský průkaz (Identity card) — scans of front and back are required</li>
    <li>Řidičský průkaz (Driver's license) — scans of front and back are required</li>
    <li>Povolení k pobytu (Residence permit) — scans of front and back are required</li>
</ul>

<span class="text-danger"> Acceptable forms of address verification: </span>
<ul>
    <li>Faktura za služby (Utility bill)</li>
    <li>Bankovní výpis (Bank statement)</li>
    <li>Výpis z hypotéčního účtu (Mortgage statement)</li>
    <li>Smlouva o pronájmu (Rental agreement)</li>
    <li>Výpis z katastru (Statement from property register)</li>
    <li>Smlouva o prodeji majetku (Contract for sale of property)</li>
</ul>

<h5 class="text-black fw-900">Denmark</h5>
<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li>Pas (Passport)</li>
    <li>Kørekort (Driver's license) — scans of front and back are required</li>
    <li>Identitetskort fra København (City of Copenhagen Identity card) — scans of front and back are required</li>
    <li>Opholdstilladelse (Residence permit) — scans of front and back are required</li>
    <li>Militært identitetskort (Military identity card)</li>
    <li>Identitetskort fra politiet (Police identity card)</li>
</ul>

<span class="text-danger"> Acceptable forms of address verification: </span>
<ul>
    <li>Forsyningsregning (Utility bill)</li>
    <li>Kontoudtog (Bank statement)</li>
    <li>Realkreditopgørelse (Mortgage statement)</li>
    <li>Lejekontrakt (Rental contract)</li>
    <li>Sundhedskort / sygesikringskort (Health insurance card)</li>
    <li>Skattevurdering (Tax assessment)</li>
</ul>

<h5 class="text-black fw-900">Estonia</h5>
<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li>Pass (Passport)</li>
    <li>Juhiluba (Driver's license)</li>
    <li>ID-kaart (Identity card)</li>
    <li>Elamisluba (Residence permit)</li>
</ul>

<span class="text-danger"> Acceptable forms of address verification: </span>
<ul>
    <li>Elukoha registreerimine (Residence registration)</li>
    <li>Kommunaalarve (Utility bill)</li>
    <li>Kontoväljavõte (Bank statement)</li>
</ul>

<h5 class="text-black fw-900">Finland</h5>

<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li>Passi / Pass (Passport)</li>
    <li>Ajokortti Körkort (Driver's license) — scans of front and back are required</li>
    <li>Henkilökortti / Identitetskort (Identity card) — scans of front and back are required</li>
    <li>Oleskelukortti / Uppehållstillstånd (Residence card) — scans of front and back are required</li>
</ul>

<span class="text-danger"> Acceptable forms of address verification: </span>
<ul>
    <li>Yleishyödykkeen lasku/Vatten- och elräkning (Utility bill)</li>
    <li>Tiliote / Bankutdrag (Bank statement)</li>
    <li>Asuntolainaselvitys / Inteckning (Mortgage statement)</li>
</ul>

<h5 class="text-black fw-900">France</h5>

<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li>Passeport (Passport)</li>
    <li>Permis de conduire (Driver's license) — scans of front and back are required</li>
    <li>Carte d'identité (Identity card) — scans of front and back are required</li>
    <li>Carte Vitale avec photo (Health insurance card)</li>
    <li>Carte d'identité avec photographie délivrée par les autorités militaires (Military identity card)</li>
    <li>Carte d'identité de parlementaire (Parliamentary identity card)</li>
    <li>Carte d'identité d'élu local (Elected official identity card)</li>
    <li>Carte du combattant avec photographie (Veteran's identity card)</li>
</ul>

<span class="text-danger"> Acceptable forms of address verification: </span>
<ul>
    <li>Facture de téléphone (Telephone/mobile bill)</li>
    <li>Facture d'électricité, de gaz ou d'eau (Utility bill)</li>
    <li>Quittance de loyer (d'un organisme social ou d'une agence immobilière) (Rent receipt from social or real estate agency)</li>
    <li>Titre de propriété (Title deed)</li>
    <li>Avis d'imposition (Taxation notice)</li>
    <li>Avis de non-imposition / Avis de situation déclarative à l'impôt sur le revenu / ASDIR (Certificate of non-taxation)</li>
    <li>Attestation de paiement de taxe d'habitation / Justificatif de paiement de taxe d'habitation (Proof of housing tax)</li>
    <li>Attestation ou facture d'assurance du logement (Proof of home insurance)</li>
    <li>Relevé de la Caf mentionnant les aides liées au logement (Caf statement mentioning housing-related aid)</li>
</ul>

<h5 class="text-black fw-900">Germany</h5>

<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li>Reisepass (Passport)</li>
    <li>Führerschein (Driver's license) — scans of front and back are required</li>
    <li>Personalausweis (Identity card) — scans of front and back are required</li>
    <li>Aufenthaltstitel (Residence permit) — scans of front and back are required</li>
</ul>
<span class="text-danger"> Acceptable forms of address verification: </span>
<ul>
    <li>Anmeldebestätigung / Meldebescheinigung (Proof of residence)</li>
    <li>Meldebescheinigung (Landlord letter)</li>
    <li>Betriebskostenabrechnung (Utility bill)</li>
    <li>Bankauszug (Bank statement)</li>
    <li>Darlehenskontoauszug (Mortgage statement)</li>
    <li>Amtlich ausgestelltes Dokument (Government issued document)</li>
</ul>

<h5 class="text-black fw-900">Greece</h5>

<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li>Διαβατήριο (Passport)</li>
    <li>Δελτίο Ταυτότητας (Identity card) — scans of front and back are required</li>
    <li>Βεβαίωση Διαμονής (Residence Certificate)</li>
</ul>
<span class="text-danger"> Acceptable forms of address verification: </span>
<ul>
    <li>Βεβαίωση Διαμονής (Residence Certificate)</li>
    <li>Λογαριασμός κοινής ωφέλειας (Utility bill)</li>
    <li>Αντίγραφο κίνησης λογαριασμού (Bank statement)</li>
    <li>Κρατικό έγγραφο (Government issued document)</li>
    <li>Αντίγραφο κίνησης λογαριασμού στεγαστικού δανείου (Mortgage statement)</li>
</ul>

<h5 class="text-black fw-900">Hong Kong</h5>

<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li> 身份證 (Passport)</li>
    <li> 駕駛執照 (Identity card) — scans of front and back are required</li>
    <li> 登記事項證明書 (Certificate of Registered Particulars)</li>
    <li> 豁免證明書 (Certificate of Exemption)</li>
    <li> 越南難民證 (Vietnamese refugee card)</li>
</ul>
<span class="text-danger"> Acceptable forms of address verification: </span>
<ul>
    <li> 駕駛執照 (Identity card) — scans of front and back are required</li>
    <li> 登記事項證明書 (Certificate of Registered Particulars)</li>
    <li> 水電費帳單 (Utility bill)</li>
    <li> 銀行帳單 (Bank statement)</li>
    <li> 電話費帳單/手機帳單 (Telephone/mobile phone bill)</li>
    <li> 保險公司聲明 (Insurance company statement)</li>
    <li> 政府或司法機關簽發的文件 (Government or Judiciary issued document)</li>
    <li> 租約 (Tenancy agreement)</li>
    <li> 財產買賣合同 (Contract for sale of property)</li>
    <li> 大學帳單或信函 (University bill or letter)</li>
</ul>

<h5 class="text-black fw-900">Hungary</h5>

<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li>Útlevél (Passport)</li>
    <li> Személyazonosító igazolvány (Identity card) — scans of front and back are required</li>
    <li>Tartózkodási engedély (Residence permit) — scans of front and back are required</li>
</ul>
<span class="text-danger"> Acceptable forms of address verification: </span>
<ul>
    <li>Tartózkodási engedély (Residence permit) — scans of front and back are required</li>
    <li>Lakcímigazolvány (Address Card)</li>
    <li>Közüzemi számla (Utility bill)</li>
    <li>Bankszámlakivonat (Bank statement)</li>
    <li>Jelzálog-tanúsítvány (Mortgage statement)</li>
</ul>

<h5 class="text-black fw-900">India</h5>

<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li>पासपोर्ट (Passport)</li>
    <li>पैन कार्ड (PAN Card)</li>
    <li>ड्राइविंग लाइसेंस (Driver's License)</li>
    <li>वोटर आईडी कार्ड (Voter ID Card) — scans of front and back are required</li>
</ul>
<span class="text-danger"> Acceptable forms of address verification: </span>
<ul>
    <li>वोटर आईडी कार्ड (Voter ID Card) — scans of front and back are required</li>
</ul>

<h5 class="text-black fw-900">Ireland</h5>

<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li>Passport</li>
    <li>Driver's license — scans of front and back are required</li>
    <li>National Age Card — scans of front and back are required</li>
</ul>
<span class="text-danger"> Acceptable forms of address verification: </span>
<ul>
    <li>Driver's license — scans of front and back are required</li>
    <li>Bank statement</li>
    <li>Utility bill</li>
    <li>Car Insurance Policy</li>
    <li>Home Insurance Policy</li>
    <li>Social insurance document</li>
    <li>Government issued document</li>
    <li>Tax credit certificate (TCC)</li>
    <li>Statement of Liability from Revenue</li>
</ul>

<h5 class="text-black fw-900">Italy</h5>

<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li> Passaporto (Passport)</li>
    <li> Patente di guida (Driver’s license) — scans of front and back are required</li>
    <li> Carta di identità / Carta d'identità (Identity card) — scans of front and back are required</li>
    <li> Patente nautica (Boat license)</li>
    <li> Porto d’armi (Weapons license)</li>
    <li> Libretto di pensione (Pension book)</li>
</ul>
<span class="text-danger"> Acceptable forms of address verification: </span>
<ul>
    <li>Carta di identità / Carta d'identità (Identity card) — scans of front and back are required</li>
    <li>Certificato di residenza (Residence certificate)</li>
    <li>Bolletta (Utility bill)</li>
    <li>Estratto conto bancario (Bank statement)</li>
</ul>

<h5 class="text-black fw-900">Japan</h5>

<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li> パスポート (Passport) </li>
    <li> 運転免許証 (Driver's license) — scans of front and back are required </li>
    <li> 在留カード・特別永住者証明書 (Residence Card) </li>
    <li> マイナンバーカード (顔写真付き) (My Number Card, with photo) </li>
    <li> 住民基本台帳カード (顔写真付き)/住基カード (顔写真付き) (Juki Card, with photo) </li>
</ul>

<h5 class="text-black fw-900">Latvia</h5>

<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li> Pase (Passport) </li>
    <li> Personas apliecība (Identity Card) </li>
    <li> Uzturēšanās atļauja (Residence Permit) — scans of front and back are required </li>
</ul>
<span class="text-danger"> Acceptable forms of address verification: </span>
<ul>
    <li> Personas apliecība (Identity Card) </li>
    <li> Komunālo pakalpojumu rēķins (Utility bill) </li>
    <li> Finanšu iestādes pārskats (Statement from a financial institution) </li>
    <li> Valsts iestādes izsniegta vēstule (Letter issued from a government institution) </li>
</ul>

<h5 class="text-black fw-900">Lithuania</h5>

<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li> Pasas (Passport)
    <li> Asmens tapatybės kortelė (Identity Card)
    <li> Vairuotojo pažymėjimas (Driver’s License)
</ul>
<span class="text-danger"> Acceptable forms of address verification: </span>
<ul>
    <li> Asmens tapatybės kortelė (Identity Card)</li>
    <li> Vairuotojo pažymėjimas (Driver’s License)</li>
    <li> Komunalinių mokesčių sąskaita (Utility bill)</li>
    <li> Išrašas iš finansų institucijos (Statement from a financial institution)</li>
    <li> Vyriausybės institucijos laiškas (Letter issued from a government institution)</li>
</ul>

<h5 class="text-black fw-900">Luxembourg</h5>

<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li>Passeport / Reisepass (Passport)
    <li>Permis de conduire / Führerschein (Driver’s license) — scans of front and back are required
    <li>Carte d'identité / Personalausweis (Identity card) — scans of front and back are required
    <li>Permis de conduire local / Aufenthaltserlaubnis (Resident permit ID) — scans of front and back are required
</ul>
<span class="text-danger"> Acceptable forms of address verification: </span>
<ul>
    <li>Carte d'identité / Personalausweis (Identity card) — scans of front and back are required</li>
    <li>Facture d'un service public / Stromrechnung (Utility bill)</li>
    <li>Déclaration d'une institution financière / Erklärung eines Finanzinstituts (Statement from a financial institution)</li>
    <li>lettre émise par le gouvernement / Regierungsschreiben (Government issued letter)</li>
    <li>Papier d'identité qui dispose d'une adresse / ID-Dokument mit einer Adresse (ID document that has an address)</li>
</ul>

<h5 class="text-black fw-900">Malaysia</h5>

<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li>Kad Pengenalan / MyKad (Identity Card)</li>
    <li>Pasport (Passport)</li>
    <li>Lesen Memandu (Driving Licence)</li>
</ul>
<h5 class="text-black fw-900">Malta</h5>

<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li>passaport (Passport)</li>
    <li>Karta Tal-Identita (Identity Card)</li>
    <li>Liċenzja tas-Sewqan (Driver License)</li>
    <li>Permess ta' Residenza (Residence Permit) — scans of front and back are required</li>
</ul>
<span class="text-danger"> Acceptable forms of address verification: </span>
<ul>
    <li>Kont tal-Bank (Bank statement)</li>
    <li>Kont tad-Dawl u Ilma (Utility Bill)</li>
    <li>Dikjarazzjoni ta' self (Mortgage statement)</li>
</ul>

<h5 class="text-black fw-900">Netherlands</h5>

<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li>paspoort (Passport)</li>
    <li>rijbewijs (Driver license) — scans of front and back are required</li>
    <li>nationaal ID-bewijs (National ID) — scans of front and back are required</li>
    <li>verblijfsvergunning (Resident permit ID)</li>
    <li>Nederlands vreemdelingendocument (Dutch aliens document)</li>
</ul>
<span class="text-danger"> Acceptable forms of address verification: </span>
<ul>
    <li>energierekening (Utility bill)</li>
    <li>verklaring van een financiële instelling (Statement from a financial institution)</li>
    <li>door de overheid verstrekte brief (Government issued letter)</li>
    <li>bewijs van inboedelverzekering (Proof of home insurance)</li>
</ul>

<h5 class="text-black fw-900">New Zealand</h5>

<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li>Passport</li>
    <li>Driver license — scans of front and back are required</li>
    <li>New Zealand emergency travel document</li>
    <li>New Zealand refugee travel document</li>
    <li>New Zealand certificate of identity</li>
</ul>
<span class="text-danger"> Acceptable forms of address verification: </span>
<ul>
    <li>Passport</li>
    <li>Driver license — scans of front and back are required</li>
    <li>Utility bill</li>
    <li>Central Government Agency document</li>
    <li>Local Council/Government letter</li>
    <li>Signed rental tenancy agreement</li>
    <li>Electoral roll papers</li>
    <li>Insurance policy document</li>
    <li>Car registration notification/demand</li>
    <li>Financial statement</li>
</ul>

<h5 class="text-black fw-900">Norway</h5>

<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li>Pass (Passport)</li>
    <li>Førerkort (Driver License) — scans of front and back are required</li>
    <li>ID-kort (ID card)</li>
    <li>Oppholdskort (Resident permit ID)</li>
</ul>
<span class="text-danger"> Acceptable forms of address verification: </span>
<ul>
    <li>Oppholdskort (Resident permit ID)</li>
    <li>Vann- eller strømregning (Utility bill)</li>
    <li>Kontoutskrift fra en finansinstitusjon (Statement from a financial institution)</li>
    <li>Offentlig utstedt brev (Government issued letter)</li>
    <li>Bostedsattest (Proof of Residence)</li>
</ul>

<h5 class="text-black fw-900">Poland</h5>

<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li> Paszport (Passport) </li>
    <li> Prawo jazdy (Drivers License) </li>
    <li> Dowód osobisty (Identity Card) </li>
    <li> Zezwolenie na pobyt (Residence Permit) — scans of front and back are required </li>
</ul>
<span class="text-danger"> Acceptable forms of address verification: </span>
<ul>
    <li> Paszport (Passport) </li>
    <li> Prawo jazdy (Drivers License) </li>
    <li> Dowód osobisty (Identity Card) </li>
    <li> Dokument o zameldowaniu (Residence address certificate) </li>
    <li> Deklaracja podatkowa (Tax return) </li>
    <li> Dokument o zameldowaniu na pobyt czasowy (Temporary residence registration certificate) </li>
    <li> Dokument o zameldowaniu na pobyt czasowy (Social or medical insurance card issued by a government administration body) </li>
    <li> Rachunek za media (Utility bill) </li>
    <li> Zaświadczenie z instytucji finansowej (Statement from a financial institution) </li>
    <li> Pismo z instytucji rządowej (Letter issued from a government institution) </li>
</ul>

<h5 class="text-black fw-900">Portugal</h5>

<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li>Passaporte (Passport)</li>
    <li>Carta de condução (Driver license)</li>
    <li>Cartão de identidade (ID card) — scans of front and back are required</li>
    <li>Cartão de cidadão (Citizen card)</li>
    <li>Título de residência (Residence Permit) — scans of front and back are required</li>
</ul>
<span class="text-danger"> Acceptable forms of address verification: </span>
<ul>
    <li>Carta de condução (Driver license)</li>
    <li>Cartão de identidade (ID card) — scans of front and back are required</li>
    <li>Atestado de residência (Residence certificate)</li>
    <li>Fatura de serviços (Utility bill)</li>
    <li>Extrato bancário (Statement from a financial institution)</li>
    <li>Carta emitida pelo Governo (Government issued letter)</li>
</ul>

<h5 class="text-black fw-900">Romania</h5>

<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li>Paşaport (Passport)</li>
    <li>Carte de identitate / Buletin (Identity Card)</li>
    <li>Permis de şedere (Residence Permit) — scans of front and back are required</li>
    <li>Permis de conducere (Driver License)</li>
</ul>
<span class="text-danger"> Acceptable forms of address verification: </span>
<ul>
    <li>Factură pentru utilităţi (Utility Bill)</li>
    <li>Extras de cont (Bank statement)</li>
    <li>Declaraţie privitoare la ipotecă (Mortgage statement)</li>
</ul>

<h5 class="text-black fw-900">Singapore</h5>

<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li> 护照 (Passport)</li>
    <li> 驾驶执照 (Driver license) — scans of front and back are required</li>
    <li> 身份证 (ID card) — scans of front and back are required</li>
    <li> 居民身份证 (National ID)</li>
    <li> 新加坡工作许可证或通行证 (Singapore Work Permit or Pass)</li>
    <li> 新加坡军人身份证 (Singapore Armed Forces Card)</li>
    <li> 新加坡国民服务身份证 (Singapore National Service Identity Card)</li>
</ul>
<h5 class="text-black fw-900">Slovakia</h5>

<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li>Cestovný pas (Passport)</li>
    <li>Občiansky preukaz (ID Card)</li>
    <li>Vodičský preukaz (Driver License)</li>
    <li>Povolenie na pobyt (Residence Permit) — scans of front and back are required</li>
</ul>
<span class="text-danger"> Acceptable forms of address verification: </span>
<ul>
    <li>Občiansky preukaz (ID Card)</li>
    <li>Vodičský preukaz (Driver License)</li>
    <li>Účet za energie (Utility bill)</li>
    <li>Vyhlásenie finančnej inštitúcie (Statement from a financial institution)</li>
    <li>List vydaný vládou (Government issued letter)</li>
</ul>

<h5 class="text-black fw-900">Slovenia</h5>

<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li>Potni list (Passport)</li>
    <li>Osebna izkaznica (ID Card)</li>
    <li>Vozniško dovoljenje (Driver License)</li>
    <li>Dovoljenje za prebivanje (Residence Permit) — scans of front and back are required</li>
</ul>
<span class="text-danger"> Acceptable forms of address verification: </span>
<ul>
    <li> Osebna izkaznica (ID Card) </li>
    <li> Vozniško dovoljenje (Driver License) </li>
    <li> Račun za komunalne storitve (Utility Bill) </li>
    <li> Izpisek finančne ustanove (Statement from a financial institution) </li>
    <li> Pismo, ki ga izda vladni organ (Government issued letter) </li>
</ul>

<h5 class="text-black fw-900">Spain</h5>

<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li> Pasaporte (Passport) </li>
    <li> Permiso de conducir (Driver license) </li>
    <li> Documento nacional de identidad (DNI) (National ID) — scans of front and back are required </li>
    <li> Tarjeta de Identidad de Extranjero Card (Resident permit ID) </li>
</ul>
<span class="text-danger"> Acceptable forms of address verification: </span>
<ul>
    <li> Factura de servicios públicos (Utility Bill) </li>
    <li> Extracto bancario o factura de teléfono móvil (Bank statement or phone invoice) </li>
    <li> Government issued letter </li>
    <li> Certificado de residencia (Residence certificate) </li>
</ul>

<h5 class="text-black fw-900">Sweden</h5>

<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li> Pass (Passport) </li>
    <li> Körkort (Driver license) </li>
    <li> Nationellt ID-kort (National ID) — scans of front and back are required </li>
    <li> Personbevis (Birth Certificate) </li>
    <li> ID-kort (Swedish Standards Institute (SIS) approved ID cards) </li>
</ul>
<span class="text-danger"> Acceptable forms of address verification: </span>
<ul>
    <li> Nationellt ID-kort (National ID) — scans of front and back are required </li>
    <li> Hushållsräkning (Utility Bill) </li>
    <li> Bankkontoutdrag (Statement from a financial institution) </li>
    <li> Myndighetsdokument (Government issued letter) </li>
    <li> Uppehållstillståndskort (Residence permit card) </li>
</ul>

<h5 class="text-black fw-900">Switzerland</h5>

<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li> Reisepass / Passeport / Passaporto (Passport) </li>
    <li> Führerschein / Permis de conduire / Licenza di condurre (Driver license)</li>
    <li> Identitäskarte / Carte d'identité / Carta d'identità (National ID) — scans of front and back are required</li>
    <li> Aufenthaltsbewilligung / Permis de séjour / Libretto per stranieri (Residence permit)</li>
</ul>
<span class="text-danger"> Acceptable forms of address verification: </span>
<ul>
    <li> Identitäskarte / Carte d'identité / Carta d'identità (National ID) — scans of front and back are required</li>
    <li> Wohnsitzbestätigung / Attestation de résidence / Certificato di domicilio (Residence certificate)</li>
    <li> Rechnung von Energieversorgern / Facture de services publics / Fattura di fornitori di energia (Utility Bill)</li>
    <li> Kontoauszug / Déclaration d'une institution financière / Dichiarazione di un istituto finanziario (Statement from a financial institution)</li>
    <li> Offizielles Schreiben einer Behörde / lettre émise par le gouvernement / Lettera rilasciata dal governo (Government issued letter) </li>
</ul>

<h5 class="text-black fw-900">United Kingdom</h5>

<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li>Passport</li>
    <li>Driver license</li>
    <li>Resident permit</li>
    <li>Citizen Card></li>
    <li>Electoral ID</li>
    <li>Validate UK</li>
</ul>
<span class="text-danger"> Acceptable forms of address verification: </span>
<ul>
    <li>Driver license</li>
    <li>Utility Bill</li>
    <li>Statement from a financial institution</li>
    <li>Government issued letter</li>
    <li>Solicitors letter</li>
    <li>Council or housing association documentation</li>
    <li>Benefits Agency documentation</li>
    <li>Electoral Register entry</li>
    <li>NHS Medical Card</li>
    <li>GP letter of registration with the surgery</li>
</ul>

<h5 class="text-black fw-900">United States</h5>

<span class="text-success"> Acceptable forms of identification: </span>
<ul>
    <li> Passport </li>
    <li> Passport card </li>
    <li> Driver license </li>
    <li> State issued ID card </li>
    <li> Resident permit ID / U.S. Green Card </li>
    <li> Border crossing card </li>
    <li> Child ID card </li>
    <li> NYC card </li>
    <li> U.S. visa card </li>
    <li> Birth Certificate </li>
</ul>
