<table id="user-table" class="w-100 table">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>UserName</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Created At</th>
        <th>Last Online</th>
        <th>From</th>
        <th>ROLE</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>